@mixin sectionTitle {
    color: $blue;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;

}

@mixin textDescription {
    text-align: justify;
    letter-spacing: 0.5px;
    padding-bottom: 20px;

    @include tablets {
        line-height: 24px;
    }
}

@mixin descriptionContainer {
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    // border: 5px solid $blue;
    // border-radius: 4px;
    padding: 20px 10px;
    // background-color: white;


    @include smallScreen {
        display: flex;
    }

}

@mixin coverBgc {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}