* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,400;1,600&display=swap');

body {
    font-family: 'Montserrat',
        Georgia,
        'Times New Roman',
        Times,
        sans-serif;

}

section {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}